[submodule "3rd/jemalloc"]
	path = 3rd/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "3rd/lua-cjson"]
	path = 3rd/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "3rd/lua-webclient"]
	path = 3rd/lua-webclient
	url = https://github.com/dpull/lua-webclient
